@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

:root{
    --corBranca:#F4F5F9;
    --corTeste:lightblue;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Exo', sans-serif;
}
body{
    background-color: #F4F5F9;
}
main{
    height: 246px;
    width: 411px;
    
    margin: auto;
    background-color:#F4F5F9;
    
}
main section.profile{
    margin: auto;
    background-color: var(--corBranca);
    width: 320px;
    color: #364356;
    
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    
    padding: 20px 20px 0px 20px;
}
.letra_tsp{
    color: #636D77;
}
h1 > img{
    
    position: relative;
    left: 80px;
    top: 40px;
    width: 80px;
    border: 0px 8px 17px solid white;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    background-color: #E8DBDB;
        
}
.profile > p{
    font-weight: 600;
    font-size: 0.8em;
    
}
.searchBar{
    position: relative;
    bottom: -40px;
    background-color: white;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 252px;
    
}
.searchBar > p{
    
    padding: 16px;
    
    font-size: 16px;
    color: #636D77;
}
main > img#search{
    position: relative;
    left: 241px;
    bottom:9px;
    padding: 9.1px ;
    border-radius: 12px;
    background-color: #7e8bff;
    width:30px;
    height: 30px;
}
main > img#config{
    position: relative;
    left: 266px;
    bottom:9px;
    padding: 9.1px ;
    border-radius: 12px;
    
    width:30px;
    height: 30px;
}

.teachers{
    margin: auto;
    background-color: var(--corBranca);
    padding-top: 35px;
    padding-left: 45px;
    color: #364356;
    
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    
}
.teacher-img{
    background-color: #F4F5F9;
    display: inline-block;
    text-align: center;
    height: 75px;
    width: 75px;
    border: 0px solid black;
    border-radius: 12px;
    padding: 10px 8px 50px 8px;
    margin-left: 10px;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
}
.teacher-img2>img{
    height: 75px;
    width: 75px;
    border: 0px solid black;
    border-radius: 10px;
}
img#img-1{
    background-color: #CF687D; 
}
img#img-2{
    background-color: #6D6363;   
}
img#img-3{
    background-color: #E5E5E5;
}
.teacher-img>h1{
    font-size: 0.61em;
    font-weight: bolder;
    text-align: left;
    line-height: 1.2em;
}
.teacher-img>h2{
    font-size: 0.5em;
    text-align: left;
    line-height: 1.2em;
}
