@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

:root{
    --corBranca:#F4F5F9;
    --corTeste:lightblue;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
}
body{
    background-color: #F4F5F9;
}
main{
    
    width: 411px;
    
    margin: auto;
    background-color:#F4F5F9;
    /*box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px -8px 32px 10px rgb(0 0 0 / 10%);
    border-radius: 20px ;
    padding-bottom: -250px;
}
#logout{
    position: relative;
    left: 306px;
    top: 5px;
    font-size: large;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.637);
    font-size: 16px;
    font-weight: 600;
}
main section.profile{
    margin: auto;
    background-color: var(--corBranca);
    width: 320px;
    color: #364356;
    
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;

}
#profile_name{
    color: #636D77;
    width: 200px;
    overflow: hidden;
}
.profile > h1{
    padding-top: 10px;
}
#profile-img{
    
    position: relative;
    margin: auto;
    left: 295px;
    bottom: 365px;
    width: 80px;
    border: 0px 8px 17px solid white;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    background-color: #E8DBDB;
        
}
.profile > p{
    font-weight: 600;
    font-size: 0.8em;
    
}
#searchBar{
    display: block;
    position: relative;
    bottom: -40px;
    background-color: white;
    border: 0px solid black;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 215px;
 
    padding: 16px;
    
    font-size: 16px;
    color: #636D77;
}
main > img#search{
    position: relative;
    left: 241px;
    bottom:7px;
    padding: 9px ;
    border-radius: 12px;
    background-color: #7e8bff;
    width:23px;
    height: 23px;
}
img#search:hover{

    background-color: #3c4ac5;

}

main > img#config{
    position: relative;
    left: 269px;
    bottom:8px;
    padding: 9.1px ;
    border-radius: 12px;
    
    width:25px;
    height: 25px;
}
main > img#funil{
    position: relative;
    left: 221px;
    top:76px;
    padding: 9.1px ;
    border-radius: 12px;
    
    width:23px;
    height: 23px;
}


.teachers{
    margin: auto;
    background-color: var(--corBranca);
    padding-top: 35px;
    padding-left: 45px;
    color: #364356;
    
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    border-radius:0px 0px 20px 20px;
    
}
.teacher-img{
    background-color: #F4F5F9;
    display: inline-block;
    text-align: center;
    height: 75px;
    width: 75px;
    border: 0px solid black;
    border-radius: 12px;
    padding: 10px 8px 50px 8px;
    margin-left: 10px;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
}
.teacher-img2>img{
    height: 75px;
    width: 75px;
    border: 0px solid black;
    border-radius: 10px;
}
img#img-1{
    background-color: #CF687D; 
}
img#img-2{
    background-color: #6D6363;   
}
img#img-3{
    background-color: #E5E5E5;
}
.teacher-img>h1{
    font-size: 0.61em;
    font-weight: bolder;
    text-align: left;
    line-height: 1.2em;
    width: 98px;
}
.teacher-img>h2{
    font-size: 0.5em;
    text-align: left;
    line-height: 1.2em;
    width: 97px;
}
#msg-b{
    position: relative;
    border: 0px solid black;
    bottom: 70px;
    margin: auto;
    width: 300px;
    padding: 0px 5px 10px 5px;
    background-color: rgba(128, 128, 128, 0.384);
    text-align: justify;
    border-radius: 0px 0px 6px  6px;
    
}

form{
    position: relative;
    margin: auto;
    border: 0px solid black;
    bottom: 70px;
    width: 300px;
    padding: 10px 5px 0px 5px;
    border-radius: 6px  6px 0px 0px;
    background-color: rgba(128, 128, 128, 0.384);
    text-align: justify;
        
}
input#msg{
    border-radius: 7px;
    padding: 3px 5px;
    border: 0px solid black;
    
}
input#msg_bt{
    border-radius: 7px;
    padding: 3px 5px;
    border: 0px solid black;
    
}
