@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
}
body{
    background-color: rgb(245, 244, 244);
}
#back_img{
    position: relative;
    right:1px;
    bottom:1px
}
#b_img{
    
    border: 1px solid transparent;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    position: relative;
    right: 159px;
    top: 10px;
}

#img-if{
    margin: auto;
    padding-top: 20px;
    width: 234px;
    height: 236px;
}
main{
    text-align: center;
    margin: auto;
    background-color: rgb(245, 244, 244);
    padding-bottom: 200px;
    width: 411px; 
    
    border: 0px solid black;
}

#login_p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    
}

   
#email{
    background: #FFFFFF;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border: 0px solid transparent;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 540;
    font-size: 16px;
    line-height: 18px;
    color: rgba(54, 67, 86, 0.61);
    font-stretch: 100;

    position: relative;
    top: 27px;

    padding-left: 21px;

    margin: auto;
    width: 343px;
    height: 53px;
}
#senha{
    background: #FFFFFF;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border: 0px solid transparent;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 540;
    font-size: 16px;
    line-height: 18px;
    color: rgba(54, 67, 86, 0.61);
    font-stretch: 100;

    position: relative;
    top: 31px;

    padding-left: 21px;
    
    margin: auto;
    width: 343px;
    height: 53px;
}

.next{
    display: block;
    background-color: #263238;
    font-size: 1.5em;
    font-weight: 600px;
    margin: auto;
    margin-top: 150px;
    width: 245px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 12px;
    color: white;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
}
.next>a{
    text-decoration: none;
    color: white;
}
.next:hover{
    text-decoration: underline;
}

form{
    columns: 1;
}