@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
}
body{
    background-color: rgb(245, 244, 244);
}
#img-if{
    padding-top: 20px;
}
main{
    text-align: center;
    margin: auto;
    background-color: rgb(245, 244, 244);
    padding-bottom: 200px;
    width: 411px; 
}
#if{
    margin-top: 2px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
#ola{
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;  
    text-align: center;
}
.botao{
    background-color: #263238;
    font-size: 1.5em;
    font-weight: 600px;
    margin: auto;
    margin-top: 150px;
    width: 245px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 12px;
    color: white;
    box-shadow: 0px 14px 32px -2px rgba(0, 0, 0, 0.1);
}
.botao>a{
    text-decoration: none;
    color: white;
    
}
.botao:hover{
    text-decoration: underline;
}
p>.login{
    color: blue;
}
#ja_tem{
    margin-top: 20px;
}